@charest "UTF-8"
/* CSS Document */
*{
    box-sizing; border-box;
}
    .flex-container {
        display: flex;
        background: url("background.png") no-repeat fixed top right;
        background-size: cover;
        flex-direction: row;
    }

    body{
        background-color: #004aad;
        background: url("background.png") no-repeat fixed top right;
        background-size: cover;
    }
    #container{
        margin: 0 auto;
        width: 767px;  
    }
    @media only screen and (min-width: 700px) {/* tablets and desktop */
        #container{
            width: 700px;
            margin: 0 auto;
        }
             
    h1 span::before{
        content: "tablet device";
    }

    .left{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 150%;
        height: 250px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    }
}
    .right{
    
        flex-grow: 1;
        flex-wrap: wrap;
        width: 150%;
        height: 250px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    }   
    nav li{
        list-style-type: none;
        background-color: #004aad;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
        background-color: #004aad;
    }
    nav{
        clear: both;
        height: 50px;
        background-color: #004aad;
    }
    nav li a:hover {
        height: 50px;
        background-color: #004aad;
    }
footer{

    background-color:#004aad;
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}
.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
    
@media only screen and (min-width: 350px) {
    /* phones */
    .flex-container {
        display: flex;
        background-color: #004aad;
      }

      h1 span::before {
        content: "phone-device";
      }
      .left{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 90%;
        height: 150px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    
    }
    
    .right{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 90%;
        height: 150px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    }
    nav li{
        float: right;
        list-style-type: none;
        background-color: #004aad;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
        background-color: #004aad;
    }
    nav{
        clear: both;
        height: 50px;
        background-color: #004aad;
    }
    nav li a:hover {
        height: 50px;
        background-color: #004aad;
    }
footer{

    background-color:#004aad;
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}
.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .flex-container {
        display: flex;
        flex-direction: column;
        background-color: #004aad;
      }
}
    .left{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 300px;
        height: 150px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    
    }
    
    .right{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 300px;
        height: 150px;
        background-color: lightskyblue;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
        border: thick blue solid;
    
    }
    nav li{
        float: right;
        list-style-type: none;
        background-color: #004aad;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
        background-color: #004aad;
    }
    nav{
        clear: both;
        height: 50px;
        background-color: #004aad;
    }
    nav li a:hover {
        height: 50px;
        background-color: #004aad;
    }
footer{

    background-color:#004aad;
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}
.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
    