@charest "UTF-8"
/* CSS Document */
*{
    box-sizing; border-box;
}
    .flex-container {
        display: flex;
        background: url("processed-75298E44-D292-4478-8E87-03B73E9A7105.jpeg") no-repeat fixed top right;
        background-size: cover;
        flex-direction: row;
    }

    body{
        background: url("processed-75298E44-D292-4478-8E87-03B73E9A7105.jpeg");
        background-size: cover;
        opacity: 80%;
    }
    #container{
        margin: 0 auto;
        width: 767px;  
    }
    @media only screen and (min-width: 700px) {/* tablets and desktop */
        #container{
            width: 700px;
            margin: 0 auto;
        }
             
    h1 span::before{
        content: "tablet device";
    }

    .left{
        flex-grow: 1;
        flex-wrap: wrap;
        width: 150%;
        height: 250px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    }
}
    .right{
    
        flex-grow: 1;
        flex-wrap: wrap;
        width: 150%;
        height: 250px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    }   
    nav li{
        list-style-type: none;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
    }
    nav{
        clear: both;
        height: 50px;
    }
    nav li a:hover {
        height: 50px;
    }
footer{
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    color:skyblue;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}
.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
    
@media only screen and (min-width: 350px) {
    /* phones */
    .flex-container {
        display: flex;
      }

      h1 span::before {
        content: "phone-device";
      }
      .left{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 90%;
        height: 150px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    
    }
    
    .right{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 90%;
        height: 150px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    }
    nav li{
        float: right;
        list-style-type: none;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
    }
    nav{
        clear: both;
        height: 50px;
    }
    nav li a:hover {
        height: 50px;
    }
footer{

    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}
.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .flex-container {
        display: flex;
        flex-direction: column;
      }
}
    .left{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 300px;
        height: 150px;
        background-color: white;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    
    }
    
    .right{
        
        flex-grow: 1;
        flex-wrap: wrap;
        width: 300px;
        height: 150px;
        background-color: white;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 30px 30px 30px 30px;
    
    }
    nav li{
        float: right;
        list-style-type: none;
        padding: 0px 20px 0px 0px;
        margin: 0px;
    }
    nav ul{
        list-style-type: none;
        overflow: hidden;
        margin: none;
        padding: 20px 20px 20px 20px;
    }
    nav{
        clear: both;
        height: 50px;
    }
    nav li a:hover {
        height: 50px;
    }
footer{
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.left a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.left a:hover{
    font-size: 25px;
}
.right a:link{
    color:#004aad;
    font-size: 20px;
    text-decoration: none;
    font-family: "Teko", sans-serif;
}
.right a:hover{
    font-size: 25px;
}

.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    padding: 10px;
    border-radius: 5px;
    background: blue;
    box-shadow: 10px, 10px, 15px blue, -10px, -10px, 15 blue;
}
.form-box input{
    font-size: 15px;
    color: blue;
    padding: 15px, 10px;
    border: blue;
    outline: blue;
    background: white;
}
.form-box button{
    color: blue;
    padding: 15px, 20px;
    font-size: 15px;
    border: blue;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: .3s;
}
    