@charest "UTF-8"
/* CSS Document */
*{
    box-sizing; border-box;
}
    .flex-container {
        display: flex;
        background: url("processed-75298E44-D292-4478-8E87-03B73E9A7105.jpeg") no-repeat fixed top right;
        background-size: 1000px;
        flex-direction: row;
        opacity: 80%;
    }

    body{
        background: url("processed-75298E44-D292-4478-8E87-03B73E9A7105.jpeg");
        background-size: 1000px;
        opacity: 80%;
    }
    #container{
        margin: 0 auto;
        width: 767px;  
    }
    @media only screen and (min-width: 700px) {/* tablets and desktop */
        #container{
            width: 700px;
            margin: 0 auto;
        }
             
    h1 span::before{
        content: "tablet device";
    }
}

footer{
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
    
@media only screen and (min-width: 350px) {
    /* phones */
    .flex-container {
        display: flex;
      }

      h1 span::before {
        content: "phone-device";
      }
      
footer{

    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}


.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .flex-container {
        display: flex;
        flex-direction: column;
      }
}
    
footer{
    clear: both;

}
header > h1{
    text-align: center;
    color:black;
    font-size: xx-large;
}

.indie-oswald-regular{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer a:link{
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-box{
    padding: 10px;
    border-radius: 5px;
    background: blue;
    box-shadow: 10px, 10px, 15px blue, -10px, -10px, 15 blue;
}
.form-box input{
    font-size: 15px;
    color: blue;
    padding: 15px, 10px;
    border: blue;
    outline: blue;
    background: white;
}
.form-box button{
    color: blue;
    padding: 15px, 20px;
    font-size: 15px;
    border: blue;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: .3s;
}
 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  h2{
    text-align: center;
    color: black;
    opacity: 100%;
  }
  h1{
    font-family: "Oswald", sans-serif;
    font-size: large;
    font-style: normal;
    font-weight: 400;
    color: black;
}